doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Quiz App
        link(rel="stylesheet", href="style.css")
    body 
    .container 
        button START QUIZ
    section
        p Question
            input(type="radio", name="answer", value="true" id="t")
            label(for="t") TRUE
            input(type="radio", name="answer", value="false" id="f")
            label(for="f") FALSE
            button ANSWER
    script(src="index.js") 
    